/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
}
body {
	font-size: 8rem;
	-webkit-font-smoothing: subpixel-antialiased;
	font-family: 'Montserrat';
}
.test-font {
	font-size: 8rem;
	font-family: 'WorkSans-Bold';
}
.test-font2 {
	font-family: 'Times New Roman';
	font-size: 8rem;
}
.test-font3 {
	font-family: 'Arial';
	font-size: 8rem;
}

.fallback .bg-wrapper{background-image:url(assets/background_image2x.png)}.webp .bg-wrapper{background-image:url(assets/background_image2x.webp)}.avif .bg-wrapper{background-image:url(assets/background_image2x.avif)}header{min-height:1700px;-webkit-hyphens:auto;hyphens:auto}header .bg-wrapper{height:100%;background-repeat:no-repeat;background-size:cover}header .bg-wrapper .header-top{padding-bottom:98px;padding-top:30px;padding-left:16px;padding-right:16px;display:flex;align-items:center}header .bg-wrapper .header-top .header-nav-wrapper,header .bg-wrapper .header-top .header-cta{height:40px;width:35%;background-color:#fff}@media(min-width: 1024px){header .bg-wrapper .header-top .header-nav-wrapper,header .bg-wrapper .header-top .header-cta{width:40%}}header .bg-wrapper .header-top .header-nav-wrapper{border-top-left-radius:3px;border-bottom-left-radius:3px;display:flex;align-items:center;justify-content:flex-start}header .bg-wrapper .header-top .header-nav-wrapper #nav-button-prime{margin-left:9px;background:#fff;border:none}@media(min-width: 1024px){header .bg-wrapper .header-top .header-nav-wrapper #nav-button-prime{display:none}}header .bg-wrapper .header-top .header-nav-wrapper #dsktop-nav-general{display:none;font-size:1.6rem}@media(min-width: 1024px){header .bg-wrapper .header-top .header-nav-wrapper #dsktop-nav-general{display:block}}header .bg-wrapper .header-top .header-cta{border-top-right-radius:3px;border-bottom-right-radius:3px;display:flex;align-items:center;justify-content:flex-end}header .bg-wrapper .header-top .header-cta #header-cta-dowmload{height:34px;margin-right:3px;border:none;border-radius:3px;background-color:#5956e9;font-size:1.4rem;font-family:"WorkSans-Medium",Arial,Helvetica,sans-serif;color:#fff;cursor:pointer}header .bg-wrapper .header-top .header-cta #header-cta-dowmload:hover{background-color:#7572ff}header .bg-wrapper .header-top .header-cta #dsktop-nav-secondary{display:none;font-size:1.6rem}@media(min-width: 1024px){header .bg-wrapper .header-top .header-cta #dsktop-nav-secondary{display:block}}header .bg-wrapper .header-top .header-logo{height:60px;width:30%;background-color:#fff;display:flex;align-items:center;justify-content:center;box-shadow:0px 1px 10px 0px rgba(0,0,0,.1);border-radius:5px;z-index:2}header .bg-wrapper .header-top .header-logo img{width:79px;height:12px}@media(min-width: 1024px){header .bg-wrapper .header-top .header-logo{width:20%}}@media(min-width: 1024px){header .bg-wrapper .header-top{max-width:1024px;margin:0 auto}}header .bg-wrapper .header-content .header-content-promo{padding-bottom:40px;padding-left:16px;padding-right:16px}header .bg-wrapper .header-content .header-content-promo .promo-wrapper{border:10px solid #7572ff}header .bg-wrapper .header-content .header-content-promo .promo-wrapper .promo-content{font-family:"WorkSans-Medium",Arial,Helvetica,sans-serif;margin:20px;padding-top:30px;padding-bottom:20px;padding-left:12px;padding-right:12px;background-color:#fff}header .bg-wrapper .header-content .header-content-promo .promo-wrapper .promo-content .promo-content-title{font-size:6rem;color:#5956e9;margin-bottom:18px}@media(min-width: 768px){header .bg-wrapper .header-content .header-content-promo .promo-wrapper .promo-content .promo-content-title{font-size:4rem}}header .bg-wrapper .header-content .header-content-promo .promo-wrapper .promo-content .promo-subtitle{font-size:2.6rem;color:#6c6c72;margin-bottom:30px;line-height:1.2}@media(min-width: 768px){header .bg-wrapper .header-content .header-content-promo .promo-wrapper .promo-content .promo-subtitle{font-size:1.4rem}}header .bg-wrapper .header-content .header-content-promo .promo-wrapper .promo-content .promo-btn{color:#232233;font-size:3rem;margin-bottom:20px}@media(min-width: 768px){header .bg-wrapper .header-content .header-content-promo .promo-wrapper .promo-content .promo-btn{font-size:2.4rem;text-align:center}}header .bg-wrapper .header-content .header-content-promo .promo-wrapper .promo-content .stores-icon img{margin:0 auto;display:block}@media(min-width: 768px){header .bg-wrapper .header-content .header-content-promo .promo-wrapper .promo-content .stores-icon img{max-width:234px}}header .bg-wrapper .header-content .header-content-media img{max-width:320px;margin-left:auto;display:block}@media(min-width: 768px){header .bg-wrapper .header-content{display:flex;flex-wrap:nowrap}}@media(min-width: 768px){header{min-height:817px}}.dsk-nav{width:100%}.dsk-nav ul{display:flex;justify-content:space-around}.dsk-nav ul li{padding:10px;border-radius:5px}.dsk-nav ul li:hover{background-color:rgba(89,86,233,.7)}.dsk-nav ul li:hover a{color:#fff}.dsk-nav ul li a{color:#232233;-webkit-text-decoration:underline;text-decoration:underline}.landingNmd-wrapper{height:100vh;width:100%;display:grid;grid-template-rows:auto 1fr 60px;grid-template-areas:"header" "main" "footer"}.landingNmd-wrapper header{width:100%;grid-area:header}.landingNmd-wrapper main{grid-area:main}.landingNmd-wrapper footer{grid-area:footer}@font-face{font-family:"WorkSans-Bold";src:url(fonts/WorkSans-Bold.woff2) format("woff2"),url(fonts/WorkSans-Bold.woff) format("woff")}@font-face{font-family:"WorkSans-SemiBold";src:url(fonts/WorkSans-SemiBold.woff2) format("woff2"),url(fonts/WorkSans-SemiBold.woff) format("woff")}@font-face{font-family:"WorkSans-Medium";src:url(fonts/WorkSans-Medium.woff2) format("woff2"),url(fonts/WorkSans-Medium.woff) format("woff")}
