@font-face {
	font-family: 'WorkSans-Bold';
	src: url('fonts/WorkSans-Bold.woff2') format('woff2'),
		url('fonts/WorkSans-Bold.woff') format('woff');
}
@font-face {
	font-family: 'WorkSans-SemiBold';
	src: url('fonts/WorkSans-SemiBold.woff2') format('woff2'),
		url('fonts/WorkSans-SemiBold.woff') format('woff');
}
@font-face {
	font-family: 'WorkSans-Medium';
	src: url('fonts/WorkSans-Medium.woff2') format('woff2'),
		url('fonts/WorkSans-Medium.woff') format('woff');
}
