@import './variables';
.fallback {
	.bg-wrapper {
		background-image: url('./img/hero/background_image2x.png');
	}
}
.webp {
	.bg-wrapper {
		background-image: url('./img/hero/background_image2x.webp');
	}
}
.avif {
	.bg-wrapper {
		background-image: url('./img/hero/background_image2x.avif');
	}
}
header {
	min-height: 1700px;
	hyphens: auto;
	.bg-wrapper {
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;

		.header-top {
			padding-bottom: 98px;
			padding-top: 30px;
			padding-left: $mob-padding;
			padding-right: $mob-padding;
			display: flex;
			align-items: center;

			.header-nav-wrapper,
			.header-cta {
				height: 40px;
				width: 35%;
				background-color: $lead-bf-light;
				@media (min-width: 1024px) {
					width: 40%;
				}
			}
			.header-nav-wrapper {
				border-top-left-radius: 3px;
				border-bottom-left-radius: 3px;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				#nav-button-prime {
					margin-left: 9px;
					background: $lead-bf-light;
					border: none;
					@media (min-width: 1024px) {
						display: none;
					}
				}
				#dsktop-nav-general {
					display: none;
					font-size: 1.6rem;
					@media (min-width: 1024px) {
						display: block;
					}
				}
			}
			.header-cta {
				border-top-right-radius: 3px;
				border-bottom-right-radius: 3px;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				#header-cta-dowmload {
					height: 34px;
					margin-right: 3px;
					border: none;
					border-radius: 3px;
					background-color: #5956e9;
					font-size: 1.4rem;
					font-family: 'WorkSans-Medium', Arial, Helvetica, sans-serif;
					color: $lead-bf-light;
					cursor: pointer;
					&:hover {
						background-color: #7572ff;
					}
				}
				#dsktop-nav-secondary {
					display: none;
					font-size: 1.6rem;
					@media (min-width: 1024px) {
						display: block;
					}
				}
			}
			.header-logo {
				height: 60px;
				width: 30%;
				background-color: $lead-bf-light;
				display: flex;
				align-items: center;
				justify-content: center;
				box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
				border-radius: 5px;
				z-index: 2;
				img {
					width: 79px;
					height: 12px;
				}
				@media (min-width: 1024px) {
					width: 20%;
				}
			}
			@media (min-width: 1024px) {
				max-width: 1024px;
				margin: 0 auto;
			}
		}
		.header-content {
			.header-content-promo {
				padding-bottom: 40px;
				padding-left: $mob-padding;
				padding-right: $mob-padding;
				.promo-wrapper {
					border: 10px solid #7572ff;
					.promo-content {
						font-family: 'WorkSans-Medium', Arial, Helvetica, sans-serif;
						margin: 20px;
						padding-top: 30px;
						padding-bottom: 20px;
						padding-left: 12px;
						padding-right: 12px;
						background-color: #fff;
						.promo-content-title {
							font-size: 6rem;
							color: #5956e9;
							margin-bottom: 18px;
							@media (min-width: 768px) {
								font-size: 4rem;
							}
						}
						.promo-subtitle {
							font-size: 2.6rem;
							color: #6c6c72;
							margin-bottom: 30px;
							line-height: 1.2;
							@media (min-width: 768px) {
								font-size: 1.4rem;
							}
						}
						.promo-btn {
							color: #232233;
							font-size: 3rem;
							margin-bottom: 20px;
							@media (min-width: 768px) {
								font-size: 2.4rem;
								text-align: center;
							}
						}
						.stores-icon {
							img {
								margin: 0 auto;
								display: block;
								@media (min-width: 768px) {
									max-width: 234px;
								}
							}
						}
					}
				}
			}
			.header-content-media {
				img {
					max-width: 320px;
					margin-left: auto;
					display: block;
				}
			}
			@media (min-width: 768px) {
				display: flex;
				flex-wrap: nowrap;
			}
		}
	}
	@media (min-width: 768px) {
		min-height: 817px;
	}
}

/*  hero top navigations */
.dsk-nav {
	width: 100%;
	ul {
		display: flex;
		justify-content: space-around;
		li {
			padding: 10px;
			border-radius: 5px;
			&:hover {
				background-color: rgba(89, 86, 233, 0.7);
				a {
					color: #fff;
				}
			}
			a {
				color: #232233;
				text-decoration: underline;
			}
		}
	}
}
