@tailwind base;
@tailwind components;
@tailwind utilities;
@import '/src/style/colors.scss';

.landing-npd-wrpapper {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

.lp-header {
  background-color: $royal-blue;
  background-image: url("/src/img/hero/background_image2x.png");
  background-size: cover;

}

.avif {
  .lp-header {
	background-image: url("/src/img/hero/background_image2x.avif");
  }
}

.webp {
  .lp-header {
	background-image: url("/src/img/hero/background_image2x.webp");
  }
}

.nav-block {
  .nav-block__section {
	background-color: #fff;

	.primary-nav {
	  color: $black1;
	  font-size: 1.2rem;
	  font-weight: 500;
	}
  }

  .nav-block__cta {
	background-color: $royal-blue;
	color: #fff;
  }
}

.img-animated {
  @apply animate-fade animate-once animate-duration-[1200ms] animate-delay-200 animate-ease-in animate-normal animate-fill-forwards
}