@tailwind base;
@tailwind components;
@tailwind utilities;
@import "/src/style/colors.scss";

.landing-npd-wrpapper {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

.lp-header {
  background-color: $royal-blue;
  background-image: url("/src/img/hero/background_image2x.png");
  background-size: cover;
}

.avif {
  .lp-header {
    background-image: url("/src/img/hero/background_image2x.avif");
  }
}

.webp {
  .lp-header {
    background-image: url("/src/img/hero/background_image2x.webp");
  }
}

.nav-block {
  .nav-block__section {
    background-color: #fff;

    .primary-nav {
      color: $black1;
      font-size: 1.2rem;
      font-weight: 500;
    }
  }

  .nav-block__cta {
    background-color: $royal-blue;
    color: #fff;
  }
}

.img-animated {
  @apply animate-fade animate-once animate-duration-[1200ms] animate-delay-200 animate-ease-in animate-normal animate-fill-forwards;
}
.blade-2-bg {
  background-size: cover;
}
.blade-2-bg {
  background-image: url("/src/img/blades/blade-2/bg-blade-2.png");
}
.avif {
  .blade-2-bg {
    background-image: url("/src/img/blades/blade-2/bg-blade-2.avif");
  }
}
.webp {
  .blade-2-bg {
    background-image: url("/src/img/blades/blade-2/bg-blade-2.webp");
  }
}

.animation-on-scroll {
}

.animation_fade {
  @apply animate-fade animate-duration-[1200ms] animate-delay-[400ms] animate-ease-in;
}
.animation_fade-from-left {
  @apply animate-fade-left animate-duration-[1200ms] animate-delay-[400ms] animate-ease-in;
}
.animation_fade-from-right {
  @apply animate-fade-right animate-duration-[1200ms] animate-delay-[400ms] animate-ease-in;
}
.animation_fade-from-top {
  @apply animate-fade-down animate-duration-[500ms] animate-delay-[100ms] animate-ease-in;
}
.animation_fade-from-bottom {
  @apply animate-fade-up animate-duration-[500ms] animate-delay-[100ms] animate-ease-in;
}
